﻿@model IEnumerable<_05_Trang_10_Hai_FinalProject.Models.User>

@{
    ViewData["Title"] = "Users Mangement";
    var idex = 1;
}

<h1>Users Mangement</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Users" asp-action="Index" method="get" class="row">
    <p class="col-12">
        Email: <input type="text" name="emailUser" id="email" class="col-lg-2" />&nbsp;&nbsp;
        Role:
        <select name="roleUser" class="col-lg-2">
            @foreach (var role in Enum.GetValues(typeof(UserRole)).Cast<UserRole>().Where(r => r != UserRole.ADMIN))
            {
                <option value="@role">@role</option>
            }
        </select>
        Created At:&nbsp;<input type="text" name="CreatedUserAt" value="" class="col-lg-2" />&nbsp;&nbsp;
        Updated At:&nbsp;<input type="text" name="UpdatedUserAt" value="" class="col-lg-2" />&nbsp;&nbsp;
        <input type="submit" value="Search" />&nbsp;
        <input type="button" onclick="location.href='@Url.Action("Index", "Users")'" value="Clear" />

    </p>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Stt
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @if (User.IsInRole(nameof(UserRole.ADMIN)))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>
                    @idex
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateByNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (User.IsInRole(nameof(UserRole.ADMIN)))
                {
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <button type="button" id="toastbtnDelete" class="btn btn-light" data-item-id="@item.Id" data-item-name="@item.Name">Delete</button>
                            @{
                                if (item.Status == AccountStatus.ACTIVE)
                                {
                                    <a class="btn btn-light" asp-action="Deactive" asp-route-id="@item.Id">Deactive</a>
                                }
                                else
                                {
                                    <a class="btn btn-light" asp-action="Active" asp-route-id="@item.Id">Active</a>
                                }
                            }
                        </div>
                    </td>
                }
            </tr>
            idex++;
        }
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tds = document.querySelectorAll('table tr td:not(:last-child)');
        tds.forEach(function (td) {
            td.addEventListener("click", function () {
                var parentTR = this.parentElement;
                var id = parentTR.getAttribute('data-id');
                var url = '@Url.Action("Details", "Users", new { id = -1 })';
                url = url.replace("-1", id);
                window.location.href = url;
            });
        });
    });
</script>