﻿@model IEnumerable<_05_Trang_10_Hai_FinalProject.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Customers" asp-action="Index" method="get">
    <p>
        Customer Name:&nbsp;<input type="text" name="CustomerName" />&nbsp;&nbsp;
        Phone:&nbsp;<input type="text" name="CustomerPhone" />&nbsp;&nbsp;
        Email:&nbsp;<input type="text" name="CustomerEmail" />&nbsp;&nbsp;
        Contract Date:&nbsp;<input type="text" name="CustomerContractDate" value="" />&nbsp;&nbsp;
        <input type="submit" value="Search" />&nbsp;
        <input type="button" onclick="location.href='@Url.Action("Index", "Customers")'" value="Clear" />
    </p>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var phone = "0" + item.Phone.ToString();
            <tr data-id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @phone
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateByNavigation.Name)
                </td>
                @if (User.IsInRole(nameof(UserRole.ADMIN)))
                {
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <button type="button" id="toastbtnDelete" class="btn btn-light" data-item-id="@item.Id" data-item-name="@item.Name">Delete</button>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tds = document.querySelectorAll('table tr td:not(:last-child)');
        tds.forEach(function (td) {
            td.addEventListener("click", function () {
                var parentTR = this.parentElement;
                var id = parentTR.getAttribute('data-id');
                var url = '@Url.Action("Details", "Customers", new { id = -1 })';
                url = url.replace("-1", id);
                window.location.href = url;
            });
        });
    });
</script>