﻿@model _05_Trang_10_Hai_FinalProject.Models.Import

@{
    ViewData["Title"] = "Create";
}
<h1>Detail</h1>

<h4>Import</h4>
<hr />
<div class="row">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Code" class="control-label"></label>
            <input asp-for="Code" class="form-control" style="pointer-events: none;background-color:rgb(220,220,220)" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="CustomerId" class="control-label"></label>
            <select asp-for="CustomerId" id="dropdownCustomer" class="form-control" asp-items="ViewBag.Customers" style="pointer-events: none;background-color:rgb(220,220,220)"></select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<ProductStatus>()" style="pointer-events: none;background-color:rgb(220,220,220)"></select>
        </div>
        <div class="row" style="border">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Unit
                        </th>
                        <th>
                            In Pirce
                        </th>
                        <th>
                            Out Pirce
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ImportInfos.Count; i++)
                    {
                        <tr>
                            <td>
                                <select asp-for="@Model.ImportInfos[i].ProductId" asp-items="ViewBag.Products" class="form-control" style="pointer-events: none;background-color:rgb(220,220,220)"></select>
                            </td>
                            <td>
                                <input asp-for="@Model.ImportInfos[i].Count" class="form-control" style="pointer-events: none;background-color:rgb(220,220,220)" />
                            </td>
                            <td>
                                <select asp-items="Html.GetEnumSelectList<ProductUnit>()" class="form-control" style="pointer-events: none;background-color:rgb(220,220,220)">
                                    <option>@Model.ImportInfos[i].Product.UnitId</option>
                                </select>
                            </td>
                            <td>
                                <input asp-for="@Model.ImportInfos[i].InPrice" class="form-control" style="pointer-events: none;background-color:rgb(220,220,220)" />
                            </td>
                            <td>
                                <input asp-for="@Model.ImportInfos[i].OutPrice" class="form-control" style="pointer-events: none;background-color:rgb(220,220,220)" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>