﻿@model IEnumerable<_05_Trang_10_Hai_FinalProject.Models.Import>

@{
    ViewData["Title"] = "Index";
    var stt = 1;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Imports" asp-action="Index" method="get">
    <p>
        Start Created At: <input type="date" name="startCreatedAt" id="startCreatedAt" />
        End Created At: <input type="date" name="endCreatedAt" id="endCreatedAt" />
    </p>

    <p>
        Start Updated At: <input type="date" name="startUpdatedAt" id="startUpdatedAt" />
        End Updated At: <input type="date" name="endUpdatedAt" id="endUpdatedAt" />
    </p>

    <p>
        <input type="submit" value="Search" />
        <button><a href="/Imports">Clear</a></button>
    </p>
</form>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>
                    @stt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateByNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (User.IsInRole(nameof(UserRole.ADMIN)) || User.IsInRole(nameof(UserRole.WAREHOUSE_MANGEMENT)))
                {
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            @{
                                if (item.Status == ProductStatus.ACTIVE)
                                {
                                    <a class="btn btn-light" asp-action="Deactive" asp-route-id="@item.Id">Deactive</a>
                                }
                                else
                                {
                                    <a class="btn btn-light" asp-action="Active" asp-route-id="@item.Id">Active</a>
                                }
                            }
                        </div>
                    </td>
                }
            </tr>
            stt++;
        }
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tds = document.querySelectorAll('table tr td:not(:last-child)');
        tds.forEach(function (td) {
            td.addEventListener("click", function () {
                var parentTR = this.parentElement;
                var id = parentTR.getAttribute('data-id');
                var url = '@Url.Action("Details", "Imports", new { id = -1 })';
                url = url.replace("-1", id);
                window.location.href = url;
            });
        });
    });
</script>