﻿@model _05_Trang_10_Hai_FinalProject.Models.Export

@{
    ViewData["Title"] = "Create";
    var code = "EP" + DateTime.Now.ToString("dd/MM/yy HH:mm:ss").Replace("/", "").Replace(" ", "").Replace(":", "");
}

<h1>Create</h1>

<h4>Export</h4>
<hr />
<div class="row">
    <form asp-action="Create" id="import_form_infor">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" value="@code" style="pointer-events: none;background-color:rgb(220,220,220)" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.Customers" onchange='document.querySelector("#CodesTable").style.display= ""'><option></option></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<ProductStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="row" style="border">
                <table class="table" id="CodesTable" style="display:none">
                    <thead>
                        <tr>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Unit
                            </th>
                            <th style="width:60px;">
                                <button id="btnAddDetailRow" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">
                                    Add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="importInfoList">
                        @for (int i = 0; i < Model.ExportInfos.Count; i++)
                        {
                            <tr>
                                <td>
                                    <select asp-for="@Model.ExportInfos[i].ProductId" id="productCusList" asp-items="ViewBag.Products" class="form-control"><option></option></select>
                                    <span asp-validation-for="@Model.ExportInfos[i].ProductId" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.ExportInfos[i].Cout" class="form-control" />
                                    <span asp-validation-for="@Model.ExportInfos[i].Cout" class="text-danger"></span>
                                </td>
                                <td>
                                    <select id="item_Product_UnitId" asp-items="Html.GetEnumSelectList<ProductUnit>()" class="form-control" style="pointer-events: none;background-color:rgb(220,220,220)">
                                        <option></option>
                                    </select>
                                </td>
                                <td style="width: 60px;">
                                    <button id='btnremove-ei' type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
