﻿@model _05_Trang_10_Hai_FinalProject.Models.Export

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Export</h4>
<hr />
<div class="row">
    <form asp-action="Edit" id="import_form_infor">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" style="pointer-events: none;background-color:rgb(220,220,220)" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.Customers"><option></option></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<ProductStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="row" style="border">
                <table class="table" id="CodesTable">
                    <thead>
                        <tr>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Unit
                            </th>
                        </tr>
                    </thead>
                    <tbody id="importInfoList">
                        @for (int i = 0; i < Model.ExportInfos.Count; i++)
                        {
                            <input type="hidden" asp-for="@Model.ExportInfos[i].Id" />
                            <tr>
                                <td>
                                    <select asp-for="@Model.ExportInfos[i].ProductId" id="productCusList" asp-items="ViewBag.Products" class="form-control"><option></option></select>
                                    <span asp-validation-for="@Model.ExportInfos[i].ProductId" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.ExportInfos[i].Cout" class="form-control" />
                                    <span asp-validation-for="@Model.ExportInfos[i].Cout" class="text-danger"></span>
                                </td>
                                <td>
                                    <select id="item_Product_UnitId" asp-items="Html.GetEnumSelectList<ProductUnit>()" class="form-control" style="pointer-events: none;background-color:rgb(220,220,220)">
                                        <option>@Model.ExportInfos[i].Product.UnitId</option>
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
