﻿<div class="position-fixed top-50 start-50 translate-middle" style="z-index: 11">
    <div id="liveToast" class="toast div_delete hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Delete</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Your sure want to <strong class="me-auto">Delete </strong><i class="item_name_delete"></i>
            <div class="mt-2 pt-2 border-top">
                <form asp-action="Delete">
                    <input type="hidden" data-val="true" id="Id" name="Id" value="">
                    <input type="submit" value="Delete" class="btn btn-danger" />&nbsp;&nbsp
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="toast">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>