﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _05_Trang_10_Hai_FinalProject</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_05_Trang_10_Hai_FinalProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Warehouse Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manegement
                                </a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole(nameof(UserRole.ADMIN)))
                                    {
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
                                    }
                                    @if (User.IsInRole(nameof(UserRole.ADMIN)) || User.IsInRole(nameof(UserRole.SALER)))
                                    {
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a></li>
                                    }
                                    @if (User.IsInRole(nameof(UserRole.ADMIN)) || User.IsInRole(nameof(UserRole.SALER)))
                                    {
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
                                    }
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Imports" asp-action="Index">Imports</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Exports" asp-action="Index">Exports</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@int.Parse(User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier").Value)">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (ViewContext.RouteData.Values["controller"].ToString().ToLower() != "home")
            {
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        @if (@ViewContext.RouteData.Values["action"].ToString() != "Index")
                        {
                            <li class="breadcrumb-item">
                                @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index")
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewContext.RouteData.Values["action"].ToString()
                            </li>
                        }
                        else
                        {
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewContext.RouteData.Values["controller"].ToString()
                            </li>
                        }
                    </ol>
                </nav>
            }
            @RenderBody()
            @Html.Partial("_Dialog")
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - _05_Trang_10_Hai_FinalProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>
