﻿@model IEnumerable<_05_Trang_10_Hai_FinalProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole(nameof(UserRole.ADMIN)) || User.IsInRole(nameof(UserRole.WAREHOUSE_MANGEMENT)))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-controller="Products" asp-action="Index" method="get">
    <p>
        Product Name:&nbsp;&nbsp; <input type="text" name="ProductsName" id="ProductsName" />&nbsp;&nbsp;
        Customer Name:&nbsp;&nbsp; <input type="text" name="CustomerName" id="ProductsName" />&nbsp;&nbsp;
        Category:&nbsp;&nbsp;
        <select name="ProductsCategory" asp-items="ViewBag.Category">
            <option value="-1">All</option>
        </select>&nbsp;&nbsp;
        <input type="submit" value="Search" />&nbsp;
        <input type="button" onclick="location.href='@Url.Action("Index", "Products")'" value="Clear" />
    </p>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitId)
            </th>
            @if (User.IsInRole(nameof(UserRole.ADMIN)) || User.IsInRole(nameof(UserRole.WAREHOUSE_MANGEMENT)))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitId)
                </td>
                @if (User.IsInRole(nameof(UserRole.ADMIN)) || User.IsInRole(nameof(UserRole.WAREHOUSE_MANGEMENT)))
                {
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <button type="button" id="toastbtnDelete" class="btn btn-light" data-item-id="@item.Id" data-item-name="@item.Name">Delete</button>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tds = document.querySelectorAll('table tr td:not(:last-child)');
        tds.forEach(function (td) {
            td.addEventListener("click", function () {
                var parentTR = this.parentElement;
                var id = parentTR.getAttribute('data-id');
                var url = '@Url.Action("Details", "Products", new { id = -1 })';
                url = url.replace("-1", id);
                window.location.href = url;
            });
        });
    });
</script>