﻿@model IEnumerable<_05_Trang_10_Hai_FinalProject.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<style>

</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Categories" asp-action="Index" method="get">
    <p>
        Name: <input type="text" name="CategoryName" id="name" />
        <input type="submit" value="Search" />
        <input type="button" onclick="location.href='@Url.Action("Index", "Categories")'" value="Clear" />
    </p>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                Product Quantity
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @item.Products.Count()
                </td>
                @if (User.IsInRole(nameof(UserRole.ADMIN)))
                {
                    <td class="align-middle">
                        <div class="btn-group" role="group">
                            <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <button type="button" id="toastbtnDelete" class="btn btn-light" data-item-id="@item.Id" data-item-name="@item.Name">Delete</button>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tds = document.querySelectorAll('table tr td:not(:last-child)');
        tds.forEach(function (td) {
            td.addEventListener("click", function () {
                var parentTR = this.parentElement;
                var id = parentTR.getAttribute('data-id');
                var url = '@Url.Action("Details", "Categories", new { id = -1 })';
                url = url.replace("-1", id);
                window.location.href = url;
            });
        });
    });
</script>